<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.2/build/styles/default.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />

    <link rel="stylesheet" href="https://miro.com/app/static/styles.1.0.css" />

    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #mn_app {
        height: 100%;
        overflow-y: auto;
        margin-top: 15px;
      }
      button:focus {
        outline: 0;
      }
      button {
        margin-left: 0;
      }

      [v-cloak] {
        display: none;
      }
      .list-group-item {
        border: 1px solid gray;
        position: relative;
        display: block;
        padding: 5px;
      }
      a.list-group-item-action:active {
        color: inherit;
      }
    </style>

    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <div id="mn_app" style="padding: 10px">
      <div id="mn_app_content" v-cloak>
        <button
          type="button"
          style="min-width: 30px"
          class="miro-btn miro-btn--primary miro-btn--small"
          @click="settings = !settings"
        >
          <img src="/img/miro/settings.svg" />
        </button>
        <button
          type="button"
          class="miro-btn miro-btn--primary miro-btn--small"
          @click="toggleVisibility"
        >
          {{hidden ? "Show" : "Hide"}}
        </button>
        <button
          type="button"
          class="miro-btn miro-btn--primary miro-btn--small"
          @click="exportAll"
        >
          Export
        </button>
        <hr />

        <div v-if="widgets.length < 1">
          No markdown notes widgets found. Create one by clicking icon on left
          toolbar.
        </div>
        <div v-else-if="settings">
          <h4>Settings</h4>
          <h6>Notes container</h6>
          <label class="miro-radiobutton">
            <input
              type="radio"
              value="0"
              name="notesContainer"
              v-model="notesContainer"
              value="Sidebar"
            />
            <span>Sidebar</span>
          </label>
          <label class="miro-radiobutton">
            <input
              type="radio"
              name="notesContainer"
              v-model="notesContainer"
              value="Popup"
            />
            <span>Popup</span>
          </label>
          <label class="miro-radiobutton">
            <input
              type="radio"
              name="notesContainer"
              v-model="notesContainer"
              value="Fullscreen"
            />
            <span>Fullscreen</span>
          </label>
        </div>
        <div v-else>
          <div class="list-group">
            <a
              v-for="widget in widgets"
              :key="widget.id"
              href="#"
              @click="focus(widget)"
              class="list-group-item list-group-item-action"
              aria-current="true"
            >
              <div class="d-flex w-100 justify-content-between">
                <div v-html="getPreview(widget)"></div>
                <small title="updated">{{getLastUpdated(widget)}}</small>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script src="https://miro.com/app/static/sdk.1.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/markdown-it@12.0.6/dist/markdown-it.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.2/build/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.2/build/languages/json.min.js"></script>

    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
